<div class="footer">
    <div class="address">
        <span>300 CHERRY STREET<br />HOUSTON, TEXAS 774779<br />123.456.7890</span>
    </div>
    <div class="detail">
        <p>Sunt in, neque in vel consectetuer, congue lectus, quis vestibulum officiis duis diamlorem, fusce nec tellus ornare nec. Iaculis donec rhoncus, ante in nam, nec ipsum libero lectus eget amet. Congue hymenaeos malesuada nibh et, velit ultrices sit ullamcorper. urna.malesuada sagittis, neque facilisi wisi pellentesque a mi sodales, justo curabitur.</p>
        <ul class="links">
            <li><a href="/">CATALOG</a></li> 
            <li><a href="/">RESEARCH</a></li>
            <li><a href="/">SERVICES</a></li>
            <li><a href="/">ABOUT</a></li>
            <li><a href="/events/">EVENTS</a></li>
            <li><a href="/locations/">LOCATIONS</a></li>
            <li><a href="/contact/">Contact Us</a><li>
            <li><a href="/sitemap/">Site Map</a></li>
            <li><a href="/rss/">RSS</a></li>
            <li><a href="/search/">Search Site</a></li>
            <li><a href="http://schipul.com/">Home Schipul Web Design</a></li>
            <li><a href="http://tendenci.com/">Tendenci ® Membership Management Software</a></li>
        </ul>
    </div>
</div>
