@charset "utf-8";

/* RESET HTML
================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, #menu, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, #menu, section {
  display: block;
}

/* BASE HTML
================================================== */
body { margin:0; padding:0; background:#100c08 !important; font-family:Arial, Helvetica, sans-serif; font:13px/1.25  sans-serif; *font-size: small; }

h1, h1 a { font-size: 32px; text-decoration: none; margin: 5px 0; text-transform:uppercase; color:#5DC2FC; font-family: 'MuseoSlab500'; }
h2, h2 a { font-size: 24px; text-decoration: none; margin: 5px 0; color:#5DC2FC; font-family: 'MuseoSlab500'; }
h3, h3 a { font-size: 20px; text-decoration: none; margin: 5px 0; color:#5DC2FC; font-family: 'MuseoSlab500'; }
h4, h4 a { font-size: 16px; text-decoration: none; margin: 5px 0; color:#5DC2FC; font-family: 'MuseoSlab500'; }

a { color:#5DC2FC; text-decoration:none;}
a:hover { text-decoration:underline; }
a:visited, a:active { }
a img { border:none;}
:focus { outline:none;}
.clr { clear:both;}
.fl { float:left;}
.fr { float:right;}
ul, li { list-style:none;}

.container { width:1002px; }

/* HEADER STYLES
================================================== */

/* HEADER ELEMENTS */
#header { background:url(../images/header_bg.jpg) repeat-x center bottom; height:140px; }
#header #header-left-container { width:280px; margin:40px 0 0 0; float:left;}
#header #header-right-container { width:700px; float:right; }

#header #header-right-container .searchdiv { margin:10px 0 0 0; padding:0; float:right; }
#header #header-right-container .searchdiv .boxes,
#header #header-right-container .searchdiv form { display:inline-block; }
#header #header-right-container .searchdiv .textbox { width:119px; height:28px; float:left; background:url(../images/searchbox.png) no-repeat left top; line-height:28px; padding:0 10px; border:none; font-size:12px; color:#aca1a6; }
#header #header-right-container .searchdiv .gobtn { width:29px; height:28px; margin:0; padding:0; background:url(../images/go_btn.jpg) no-repeat left top; border:none; cursor:pointer; float:left; }

/* MAIN NAVIGATION */
#nav { margin:15px 0 0 0; padding:0; float:right;}
nav .block .content { margin: 0; padding: 0; }
nav ul, nav li { margin: 0; padding: 0; list-style:none; list-style-image: none; }
nav h2 { display:none; }
nav ul li { float:left; position:relative; }
nav>ul>li>a { height:23px; padding:38px 9px 0; border:solid 2px #d2f34a; }
nav>ul>li>a:hover { border:solid 2px #4491d1; }
nav ul li a { display:block; margin:0; font-weight:normal; float:left; font-size:12px; color:#fff; font-family: 'MuseoSlab500'; }
nav ul li a:hover { background:#4491d1; }
nav ul ul { display:none; position:absolute; left:0; top:65px; width:160px; z-index:999; }
nav ul ul a { width:167px; background:#100c08; padding:5px 9px; }
nav ul ul ul { position:absolute; top:0; left:160px; }
nav ul ul ul, nav ul ul ul ul, nav ul li:hover ul ul { display:none; }
nav ul li:hover ul, nav ul ul li:hover ul { display:block; }

/* ROTATOR */
#rotator-container { width:996px; height:371px; margin:20px auto 0; position:relative; }
#rotator-wrap { width:100%; height:100%; }
#rotator { width:100%; height:352px; background:url(../images/gallery_bg.png) no-repeat left top; }
.rotator-item { width:100%; height: 100%; overflow:hidden; }
.rotator-content { z-index: 2; position:absolute; left:35px; bottom:0; background:url(../images/textdiv.png) no-repeat left top; width:447px; height:138px; margin:0; padding:0; }
.rotator-content h1 { font-size:25px; color:#000; margin:0; padding:10px 0 0 20px;  font-weight:normal; }
.rotator-content h1 a { font-size:25px; color:#000; font-family: 'MuseoSlab500'; text-transform:uppercase; }
.rotator-content p { font-size:13px; color:#000; margin:0; padding:10px 0 0 20px; font-family: 'MuseoSlab500'; }
.rotator-content a.readmore { background:url(../images/blackbg.png) no-repeat left top; width:183px; height:27px; font-size:18px; color:#5dc2fc; padding:3px 0 0 0; font-family: 'MuseoSlab500'; float:right; font-weight:normal; text-align:center; }
.rotator-image { position: absolute; z-index: 0; top:33px; left:13px; }
.rotator-image a img, .rotator-image img { width:968px; height:284px; }
#stories-pager { bottom: 0; right: 70px; position: absolute; z-index: 4; }
#stories-pager a { padding:0 5px; display:block; float:left; width:19px; height:19px; background:url(../images/paging_ancer.png) no-repeat left top; text-indent:-9999px;}
#stories-pager  a.activeSlide { background:url(../images/paging_ancer_hover.png) no-repeat left top; }

/* HOMEPAGE CONTENT
================================================== */
#home-wrap { background:url(../images/background.png) no-repeat center -351px; }
#home-content { padding:30px 0 10px 0; }
#home-body { width:632px; margin:0 0 0 35px; float:left; }
#home-sidebar { width:292px; margin:0 10px 0 0; float:right; }

#events-row .heading { width:632px; height:48px; background:url(../images/event_heading.png) no-repeat left top; }
#events-row .heading h3 { color:#D2F34A; padding:11px 0 0 24px; display:inline-block; margin:0; font-size:26px; }
#events-row .heading a { width:101px; height:18px; background:url(../images/view_btn.png) no-repeat left top; text-align:center; font-family: 'MuseoSlab500'; font-size:12px; color:#000; display:block; float:right; margin:15px 25px 0 0; padding:2px 0 0 0; }
#events-row .content { background:#d2f34a; border-left:solid 2px #fff; border-right:solid 2px #fff; }
#events-row .content ul { padding:0 20px; }
#events-row .content ul li { display:block; padding:10px 0; list-style:none; font-size:18px; color:#aa3698; font-weight:bold; border-bottom:solid 1px #fff; }
#events-row .content ul li:last-child { border:none; }
#events-row .content ul li strong { width:300px; display:inline-block; }
#events-row .content ul li a { font-size:15px; color:#000; padding:2px 5px 2px 0; display:block; font-weight:normal; }
#events-row .content ul li a:hover { background:#3d1a6b; color:#fff; }
#events-row .footer { height:10px; background:url(../images/event_bottombg.png) no-repeat left top; }

#box-row { margin:20px 0 0 0; }
#box-row .heading { height:48px; background:url(../images/spotlight_heading.png) no-repeat left top; }
#box-row .heading h3 { margin:0; font-size:26px; padding:11px 0 0 24px; display:inline-block; color:#000; }
#box-row .content { background:#fff; padding:0 0 10px 0; }
#box-row .content h3 { margin:0; padding:10px 0 0 15px; font-size:25px; color:#3d1a6c; }
#box-row .content img { margin:0 15px 0 0 ; float:left; }
#box-row .content p { font-size:13px; color:#000; padding:0 20px 0 17px; line-height:18px; }
#box-row .content p a { color:#3d1a6c; font-style:italic; }

/* HOMEPAGE SIDEBAR CONTENT */
#news-row { padding:5px; background:#3b1a6a; }
#news-row .news-content { border:2px solid #fff; background:#AA3699; padding:0 0 10px 0; }
#news-row .news-content h3 { color:#D2F34A; font-size:21px; margin:0 23px 0 10px; padding:0 0 2px 0; border-bottom:solid 1px #fff; }
#news-row .news-content ul { margin:10px 0 0 15px; }
#news-row .news-content ul li { width:250px; display:block; list-style:none; margin:5px 0 0 0; padding:0 0 0 15px; background:url(../images/arrow_1.png) no-repeat left 5px; }
#news-row .news-content ul li a { display:block; font-size:13px; color:#fff;}
#news-row .news-content ul li a:hover { color:#a5f34a;}

#donate-row { margin:25px 0 0 0; padding:5px; background:#70ea6d; }
#donate-row .donate-content { background:#fff; padding:0 0 10px 0; }
#donate-row .donate-content h3 { font-size:21px; color:#000; margin:0 25px 0 15px; padding:15px 0 2px 0; }
#donate-row .donate-content p { padding:0 25px 0 15px; font-size:13px; color:#000; line-height:18px; }
#donate-row .donate-content a { margin:30px 0 0 15px; padding:2px 0 0 0; width:92px; height:20px; background:url(../images/donate_btn.png) no-repeat left top; text-align:center; font-size:14px; color:#fff; font-family: 'Museo300'; display:block; }

#form-row { margin:25px 0 0 0; padding:5px; background:#2a35a3; }
#form-row .form-content { background:#4590D1; padding:10px 15px; }
#form-row .form-content h4 { font-size:21px; color:#000; }
#form-row .form-content label { font-size:13px; color:#000; line-height:18px; font-weight:normal; }
#form-row .form-content input[type="text"] { width:222px; height:25px; background:#fff; border:solid 2px #939598; line-height:25px; border:none; font-size:13px; color:#939598; padding:0 10px; }
#form-row .form-content input[type="submit"] { width:92px; height:22px; background:url(../images/submit_btn.png) no-repeat left top; cursor:pointer; border:none; text-indent:-9999px; }

/* HOMEPAGE SPONSOR CONTENT */
#home-sponsor { margin:20px 0 0 35px; overflow:hidden; }
#home-sponsor .heading { height:48px; background:url(../images/sposor_topbg.png) no-repeat left top; }
#home-sponsor .heading h3 { color:#D2F34A; font-size:26px; padding:11px 0 0 24px; }
#home-sponsor .content { padding:0 10px 10px; width:937px; background:#fff; border-left:solid 1px #888684; border-right:solid 1px #888684; }
#home-sponsor .content .sponsor { margin:20px 10px 0 10px; float:left; }
#home-sponsor .footer { height:10px; background:url(../images/sposor_bottombg.png) no-repeat left top; }

/* INTERIOR BODY CONTENT */
#body-wrap { background:url(../images/background.png) no-repeat center -351px; }
#body-content  { margin:20px 0 0 0; padding: 1%; background-color: rgba(255, 255,  255, 0.97); box-shadow: 4px 6px 13px  -3px rgba(0, 0, 0, 0.5); }
#body-content-left { float: left; padding: 10px; margin: 1% auto 2%; }
#body-content-right { float: right; padding: 10px; margin: 1% auto 2%;}

/* INTERIOR SIDEBARS */
.sidebar { background-color: rgba(235, 235, 235, 0.9); box-shadow: 4px 6px 13px -3px rgba(0, 0, 0, 0.5); padding: 2%; }
#sidebar-left { float: left; }
#sidebar-right { float: right; }

/* PHOTOS */
.sidebar #photos ul { list-style: none; margin: 0 0 20px; height: 330px; } 
.sidebar #photos ul li { float: left; margin: 2%; }
.sidebar #photos ul li a img { border: 4px #fff solid; width: 100%; height: auto; }

/* FOOTER STYLES */
#footer {margin:0 0 0 35px; padding:15px 0 20px 0; }
#footer ul { margin:0; padding:0; overflow:hidden;}
#footer ul li { margin:0; padding:0 10px; list-style:none; float:left; display:block; background:url(../images/li_bg.png) no-repeat right 2px}
#footer ul li:last-child { background:none; }
#footer ul li a { font-size:12px; color:#d2f34a; font-family: 'Museo300'; display:block; float:left; text-transform:uppercase; }
#footer p { padding:5px 0 0 5px; font-size:12px; font-family: 'Museo300'; color:#fff;}
