<link href="styles/style.css" rel="stylesheet" type="text/css" />
<link href="fonts/fonts.css" rel="stylesheet" type="text/css" />

<div id="footer">
        	<div class="socialdiv">
            	<a href="#"><img src="images/twitter_icon.png" border="0" alt="" /></a>
                <a href="#"><img src="images/facebook_icon.png" border="0" alt="" /></a>
                <a href="#"><img src="images/youtube_icon.png" border="0" alt="" /></a>
                <a class="nomargin" href="#"><img src="images/rss_icon.png" border="0" alt="" /></a>
            </div>
            <div class="rightside">
            	<ul>
                	<li class="nobg">11757 Katy Freeway Ste. 930, Houston, TX 77079 </li>
                </ul>
                <ul>
                	<li><a href="#">Schipul Web Design</a></li>
                    <li><a href="#">Schipul Search Engine Marketing</a></li>
                    <li><a href="#">Tendenci® Membership Management Software</a></li>
                    <li><a href="#">Site Map </a></li>
                	<li><a href="#">RSSe</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="nobg"><a href="#">Privacy</a></li>
                </ul>
            </div>
            
        </div><!-- Footer End-->
    		
    </div><!-- Wrap End -->
    </body>
</html> 