<link href="styles/style.css" rel="stylesheet" type="text/css" />
<link href="fonts/fonts.css" rel="stylesheet" type="text/css" />
<!-- Header Start -->
    <div id="header">
    	<div class="header">
        	<div class="logo">
            	<a href="#"><img src="images/logo.png" border="0" alt="" /></a>
            </div>
            <div class="rightside">
            	<form method="post" action="">
                	<input type="text" name="" onfocus="this.value=''" value="Search" class="searchbox" />
                    <input type="submit" name="" value="" class="searchbtn" />
                </form>
                <p>123-456-7890</p>
            </div>	
        </div>