<link href="styles/style.css" rel="stylesheet" type="text/css" />
<link href="fonts/fonts.css" rel="stylesheet" type="text/css" />
<!-- Wrap Start -->
    <div id="wrap">
        
        <!-- Gallery Start -->
        <div id="gallery">
            <div class="gallery_img">
                <img src="images/gallery_img.jpg" border="0" alt="" />
            </div>
            <div class="pagging">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
            <div class="textdiv">
                <h1>Do You Feel A Little Sheepish?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#">Read more</a>
            </div>
        </div><!-- Gallery End-->
    	
        <!-- Container Start -->
        <div id="container">
        	
            <!-- Container Start -->
            <div id="content">
            	
                <!-- Sidebar  Start -->
                <div id="sidebar">
                	<div class="buttondiv">
                    	<a href="#">Newsletter Sign-Up</a>
                        <a href="#">Finding Good Times</a>
                        <a href="#">Online Registration</a>
                    </div>
                </div><!-- Sidebar End -->
                
                <!-- Post Start -->
                <div id="post">
                	<h1>How We Got Started</h1>
                    <div class="photoimg">
                    	<div class="img">
                        	<img src="images/photo_img_1.jpg" border="0" alt="" />
                        </div>
                    </div>	
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui </p>
                </div><!-- Post End -->
                
                <div class="row_1">
                	<div class="videodiv">
                    	<h1>Video</h1>
                    	<div class="videobg">
                        	<div class="img">
                            	<img src="images/video_img.jpg" border="0" alt="" />
                            </div>
                        </div>	
                        <a href="#">Watch all Good Times Videos</a>
                    </div>
                    <div class="eventdiv">
                    	<h1>Upcoming Events</h1>
                        <ul>
                        	<li>
                            	<p><a href="#">Lorem Ipsum</a> | 10/12/2011</p>
                                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt.</p>
                            </li>
                            <li>
                            	<p><a href="#">Lorem Ipsum</a> | 10/12/2011</p>
                                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt.</p>
                            </li>
                            <li>
                            	<p><a href="#">Lorem Ipsum</a> | 10/12/2011</p>
                                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt.</p>
                            </li>
                        </ul>
                        <a href="#" class="view">View all Upcoming Events</a>
                    </div>
                    <div class="photos">
                    	<h1>Recent Photos</h1>
                        <div class="photobg">
                        	<div class="img">
                            	<img src="images/img_1.jpg" border="0" alt="" />
                            </div>	
                        </div>
                        <div class="photobg">
                        	<div class="img">
                            	<img src="images/img_2.jpg" border="0" alt="" />
                            </div>	
                        </div>
                        <div class="photobg">
                        	<div class="img">
                            	<img src="images/img_3.jpg" border="0" alt="" />
                            </div>	
                        </div>
                        <div class="photobg">
                        	<div class="img">
                            	<img src="images/img_4.jpg" border="0" alt="" />
                            </div>	
                        </div>
                        <div class="photobg">
                        	<div class="img">
                            	<img src="images/img_5.jpg" border="0" alt="" />
                            </div>	
                        </div><div class="photobg">
                        	<div class="img">
                            	<img src="images/img_6.jpg" border="0" alt="" />
                            </div>	
                        </div>
                        <a href="#" class="view">View all Photos</a>
                    </div>
                </div>
                
            </div><!-- Content End-->
            
        </div><!-- Container End -->
