<link href="styles/style.css" rel="stylesheet" type="text/css" />
<link href="fonts/fonts.css" rel="stylesheet" type="text/css" />
<!--<ul>
    <li><a href="/events/month/">Events</a>
        <ul>
            <li><a href="/events/month/">Calendar</a></li>
            <li><a href="/photos/set/latest/">Event Photos</a></li>
        </ul>
    </li>
    <li><a href="/">Members</a>
        <ul>
            <li><a href="/">Benefits</a></li>
            <li><a href="/">Join Now</a></li>
            <li><a href="/accounts/login/">Login</a></li>
        </ul>
    </li>
    <li><a href="/news/search/">News</a></li>
    <li><a href="/jobs/search/">Jobs</a></li>
    <li><a href="/about-us/">About Us</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/">Home</a></li>
</ul>  this code was in here when I initially opened the file -mbs-->


<!-- Nav Start -->
        <div id="nav">
        	<div class="nav">
            	<ul>
                	<li><a href="#">About Us</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Event News</a></li>
                    <li><a href="#">Special Collection</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Research</a></li>
                    <li class="nobg"><a href="#">Home</a></li>
                </ul>
            </div>
        </div><!-- Nav End -->
	</div><!-- Header End -->  