<div class="5grid-layout" id="copyright">
	<div class="row">
		<div class="12u">
			<section id="footer-links">
        <ul>
            <li><a href="/">CATALOG</a></li> 
            <li><a href="/">RESEARCH</a></li>
            <li><a href="/">SERVICES</a></li>
            <li><a href="/">ABOUT</a></li>
            <li><a href="/events/">EVENTS</a></li>
            <li><a href="/locations/">LOCATIONS</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/sitemap/">Site Map</a></li>
            <li><a href="/rss/">RSS</a></li>
        </ul>
        <ul>
            <li><a href="/search/">Search Site</a></li>
            <li><a href="http://schipul.com/">Home Schipul Web Design</a></li>
            <li><a href="http://tendenci.com/">Tendenci® Membership Management Software</a></li>
        </ul>
        <p>Images: <a href="http://fotogrph.com/">Fotogrph</a> | Design: <a href="http://html5templates.com/">HTML5Templates.com</a></p>
    </section>
		</div>
	</div>
</div>
