 <div id="footer">
        	<div class="rightside">
            	<ul>
                	<li>Houston Office: 11757 Katy Freeway Ste. 930, Houston, TX 77079</li>
                    <li class="nobg">Silicon Valley Office: 955 Benecia Avenue, Sunnyvale, CA 94085</li>
                </ul>
                <ul>
                	<li><a href="#">Houston Web Design</a></li>
                    <li><a href="#">Schipul Web Design</a></li>
                    <li><a href="#">Schipul Search Engine Marketing</a></li>
                    <li class="nobg"><a href="#">Tendenci® Membership </a></li>
                </ul>
                <ul>
                	<li><a href="#">Management Software</a></li>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">RSS</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="nobg"><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="socialdiv">
            	<a href="#"><img src="{{ THEME_URL }}media/images/twitter_icon.png" border="0" alt="" /></a>
                <a href="#"><img src="{{ THEME_URL }}media/images/facebook_icon.png" border="0" alt="" /></a>
                <a href="#"><img src="{{ THEME_URL }}media/images/youtube_icon.png" border="0" alt="" /></a>
                <a class="nomargin" href="#"><img src="{{ THEME_URL }}media/images/rss_icon.png" border="0" alt="" /></a>
            </div>
</div><!---Footr End -->