{% load nav_tags %}
<div class="row">
    <div class="4u" id="logo">
        <h1><a href="/" class="mobileUI-site-name">Tendenci</a></h1>
    </div>
    <div class="8u" id="menu">
        <div class="logindiv">
        {% if not request.user.is_authenticated %}
            <form method="post" action="/accounts/login/">{% csrf_token %}
                <input type="text" name="username" onfocus="this.value=''" value="Username" class="textbox" />
                <input type="password" name="password" onfocus="this.value=''" value="Password" class="textbox" />
                <input type="submit" name="" value="Login" class="loginbtn button button-style1" />
            </form>
        {% endif %}
        </div>
        {% nav 1 %}
    </div>
</div>
