/*
	MegaCorp: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
*/

/* Header */


/* Logo */

	#logo {
		overflow: hidden;
		height: 8em;
	}
	
	#logo h1 a {
		float: left;
		padding: 1.25em 0.25em 0em 0em;
		letter-spacing: -1px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Fjalla One', sans-serif;
		font-weight: 400;
		color: #101214;
	}
	
/* Menu */

	#menu {
		height: 8em;
	}


    #menu .logindiv {
        height: 2em;
        padding-top: 1em;
    }

    #menu .logindiv form {
        float: right;
    }

    #menu .logindiv .textbox {
        height: 100%;
        float: left;
    }

    #menu .logindiv .loginbtn {
        border: none;
        cursor: pointer;
        margin-top: 0;
        padding: .25em 1em;
    }
	
	#menu nav > ul {
		float: right;
        margin-top: 0;
		text-align: center;
	}

    #menu nav ul ul {
        display:none;
        position:absolute;
        left:0;
        top:25px;
        z-index:999;
    }

    #menu nav ul ul ul {
        position:absolute;
        top:0;
        left:165px;
    }

    #menu nav ul ul a {
        width: 167px;
        background:#FFF;
    }

    #menu nav ul ul ul, #menu nav ul ul ul ul, #menu nav ul li:hover ul ul {
        display:none;
    }

    #menu nav ul li:hover ul, #menu nav ul ul li:hover ul {
        display:block;
    }
	
	#menu li {
		display: inline-block;
        position: relative;
	}
	
	#menu a {
		display: block;
		float: left;
		padding: 0.75em 1.5em;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.20em;
		color: #101214;
		outline: 0;
	}
	
	#menu .current_page_item {
	}
	
	#menu .current_page_item a {
	}
	
	#menu a:hover {
		background: #101214 url(../images/main-bg.png) repeat;
		box-shadow: inset 0px -15px 10px 0px rgba(0,0,0,0.10);
		text-shadow: none;
		color: #FFFFFF;
	}
