{% load box_tags %}
<div class="footer container">
    <div class="footer-wrap">
        <div class="detail clearfix">
            <div class="social">
                <h3>Social Media</h3>
                <a href="/"><img src="{{ THEME_URL }}media/images/facebook_icon.png" border="0" alt="" /></a>
                <a href="/"><img src="{{ THEME_URL }}media/images/twitter_icon.png" border="0" alt="" /></a>
                <a href="/"><img src="{{ THEME_URL }}media/images/linkedin_icon.png" border="0" alt="" /></a>
                <a href="/"><img src="{{ THEME_URL }}media/images/rss_icon.png" border="0" alt="" /></a>
            </div>
            <div class="box">
                <div class="box-left-container"></div>
                <div class="box-main-container">
                    {% box 7 %}
                </div>
                <div class="box-right-container"></div>
            </div>
        </div>
        <div class="links">
            <ul>
                <li><a href="/">CATALOG</a></li> 
                <li><a href="/">RESEARCH</a></li>
                <li><a href="/">SERVICES</a></li>
                <li><a href="/">ABOUT</a></li>
                <li><a href="/events/">EVENTS</a></li>
                <li><a href="/locations/">LOCATIONS</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                <li><a href="/sitemap/">Site Map</a></li>
                <li><a href="/rss/">RSS</a></li>
            </ul>
            <ul>
                <li><a href="/search/">Search Site</a></li>
                <li><a href="http://schipul.com/">Home Schipul Web Design</a></li>
                <li><a href="http://tendenci.com/">Tendenci® Membership Management Software</a></li>
            </ul>
        </div>
    </div>
</div>
